.main-container {
    display: flex;
    height: calc(100vh - 120px); 
}

.left-column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.left-column h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.left-column h1 span {
    color: orange;
}

.left-column p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.left-column .buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.left-column .buttons button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.form-section {
    display: flex;
    gap: 10px;
}

.form-section input,
.form-section button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
}

.form-section button {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}

.right-column {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  
  .right-column img {
    height: 680px;
    width: 880px;
    object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
  }
  
  /* Style for the previous and next buttons */
  .prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 2; /* Ensure buttons are on top of the images */
  }
  
  .prev-button {
    left: 10px; /* Position the Previous button to the left */
  }
  
  .next-button {
    right: 10px; /* Position the Next button to the right */
  }
  
  .prev-button:hover, .next-button:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darken the buttons on hover */
  }
  